body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
    
}
.btn{
    background-color: pink;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    color: black;
    position: relative;
    overflow: hidden;

}
.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    top: var(--yPos);
    left: var(--xPos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s,height 0.5s;
}
.btn:hover::before{
    height: 300px;
    width: 300px;
}
.btn:active{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) ;
}